@use "../../scss/abstracts";

.address-card {
    display: flex;

    @include abstracts.screen(md) {
        gap: 16px;
        flex-wrap: wrap;
    }

    &__left {
        display: flex;
        align-items: flex-start;
        column-gap: 16px;
        flex-grow: 1;
    }

    &__right {
        @include abstracts.screen(md) {
            margin-left: -20px;
        }
    }

    &__checkbox {
        &-input {
            appearance: none;
            width: 20px;
            height: 20px;
            cursor: pointer;

            &:checked::before {
                content: url("../../assets/icons/checkbox-checked.svg");
            }

            &:not(:checked)::before {
                filter: var(--icon-color);
            }

            &::before {
                content: url("../../assets/icons/checkbox-uncheck.svg");
            }
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.444;
        /* 144.444% */

        @include abstracts.screen(md) {
            font-size: 1.5rem;
            line-height: 1.5;
            /* 150% */
        }
    }

    &__desc {
        width: min(520px, 90%);
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 1.467;
        /* 146.667% */

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 1.43;
            /* 142.857% */
        }
    }

    &__list {
        margin-top: 20px;
        padding-left: 18px;
        display: flex;
        gap: 48px;
        list-style: disc;
        font-size: 1.4rem;
        line-height: 1.43;
        /* 142.857% */

        @include abstracts.screen(md) {
            margin-top: 16px;
            gap: 30px;
        }

        @include abstracts.screen(sm) {
            gap: 10px;
            flex-direction: column;
        }
    }

    &__control {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}